.shadow {
    width:320px;
    height: 35px;
    transition: box-shadow .3s;

    border-radius:10px;
    border: 1px solid #ccc;
    
    float: left;
    
  }
  .shadow:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
  }

  p {
    overflow-wrap: break-word;
  }

